<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Please activate your Tic-Tac-Toe account!</h3>
    <p>
      Just click the link below<br/>
    </p>
    <p>
     <%= @url %>
    </p>
  </body>
</html>