<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>Play Tic-Tac-Toe on the Web!</h1>
    <p>
      Just click the link below<br/>
    </p>
    <p>
     <%= @link %>
    </p>
  </body>
</html>