<div class="center hero-unit">
  <h2>Which Human Will Win?</h2>
  <h3 id="human_notification"><%=@notification%></h3>

  <div id="box_center" class="btn-group btn-group-vertical">
	<% @representation.keys.each_slice(3) do |moves| %>
	<div id="button" class="btn-group">
		<% moves.each do |move| %>
		<%= link_to @representation[move], 
		          player_move_path(move: move, player: params[:player]), 
			      class: "btn btn-large move_button update", id: "human_move#{move}",
				  remote: true %>
		<% end %>
    </div>
	<% end %>
  </div>

  <%= link_to "New Game", new_human_game_path(player: params[:player]), 
                          class: "btn btn-success update", id: "new_game",
	                      remote: true %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>