<div class="center hero-unit">
  <h2>Which Human Will Win?</h2>
  <h3 id="player_notification"><%=@notification%></h3>

  <div id="box_center" class="btn-group btn-group-vertical">
	<% @representation.keys.each_slice(3) do |moves| %>
	<div id="button" class="btn-group">
		<% moves.each do |move| %>
		<%= link_to @representation[move], 
		          player_move_path(move: move, player: params[:player]), 
			      class: "btn btn-large move_button update", id: "player_move#{move}",
				  remote: true %>
		<% end %>
    </div>
	<% end %>
  </div>

  <%= link_to "New Game", new_two_player_game_path(player: params[:player]), 
                          class: "btn btn-success update", id: "new_game",
	                      remote: true %>

	<% if ( "X" == params[:player] ) %>

		<br /><br />
	
		<form accept-charset="UTF-8" action="/invite" class="new_user"
		      id="new_user" method="post">
	
		  <label for="user_email">Email</label>
		  <input id="user_email" name="address" size="30" type="text" /><br />

		  <input class="btn btn-large btn-primary" name="commit" type="submit" 
		         value="Invite a Friend to Play!" />
		</form>
	
	<% end %>

</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

