¯<div class="center hero-unit">
  <h2>Welcome to Tic-Tac-Toe!</h2>

	<%= link_to "Please Sign Up", signup_path, 
		      class: "btn btn-large btn-primary main_button", id: "computer_game" %>

</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

