<div class="row">
  <aside class="span4">
    <section>
      <h1> <%= @player.name %></h1>
      <h1> email: <%= @player.email %></h1>
<br />
      <h1> <%= @player.bio %> </h1>
    </section>
  </aside>
</div>
