<div class="row">
  <aside class="span4">
    <section>
      <h1> <%= @player.name %></h1>
      <h1> email: <%= @player.email %></h1>
<br />
      <h1> <%= @player.bio %> </h1>
    </section>
  </aside>
  <div class="span8">
    <h3>Open Matches</h3>
    <ol class="open_matches">
    <% if @open_matches.any? %>
        <%= render @open_matches %>
    <% else %>
        <h4>None</h4>
    <% end %>
    </ol>
  </div>
</div>
