<li>
  <span class="content">Playing as <%= match.role %>
	                    and waiting on <%= match.waiting_on %>
  </span>
  <span class="game_link">
    <%= link_to "Resume the game.", "/#{match.cipher}" %>
  </span>
</li>